/* General */

								/* Layout */

body {
}

#content {
	position: absolute;
	display: block;
	width: 65%;
	margin: -8px 17.5% -8px 17.5%;
}

#nav {
	padding: 8px;
	position: relative;
}

#dash {
	position: relative;
	padding: 8px;
	display: block;
	height: auto;
}

#filterbar {
	padding: 4px;
	position: relative;
}

#filterbar ul li {
	list-style: none;
	display: inline-block;
}

#nav ul {
	list-style: none;
	padding: 0;
	margin: auto;
}

#nav ul li {
	display: inline-block;
	padding: 0;
}

#nav ul li a {
	padding: 4px;
}

#post {
	display: inline-block;
	float: left;
	position: relative;
	margin: 8px;
	width: auto;
	height: auto;
	padding: 16px;
}

#navlogo {
	padding: 4px;
}

								/* Colours / Aesthetics / Fonts */

body {
	background-color:  #eee;

	font-family: Calibri, arial, sans-serif;
	color: white;
}

#content {
	background-color: green;
	box-shadow: 0 0 16px 2px gray;
}

#dash {
	background-image: url("Resources/gray_jean.png");
	background-color: gray;
	box-shadow: inset 0 1px 4px black;

	color: black;
	text-align: center;
}

#nav {
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
}

#nav ul li a {
	font-size: 24px;
	text-decoration: none;
	color: white;
}

#filterbar {
	background-color: #444444;
	box-shadow: inset 0 1px 4px black;
}

#post {
	box-shadow: 0 0 4px black;

	color: #222;
}

.emphasis {
}

.header1 {
	font-family: georgia, serif;
	font-style: italic;
	text-shadow: 0 0 1px 1px black;
	font-size: 16px;
}

								/* Posts */

.resource {
	background-color: #77aa33;
}

.task {
	background-color: #de7700;
}

.question {
	background-color: #bc4454;
}

.generalPost {
	background-color: #4488ca;
}
